div.field {
  clear: both;
  float: none;
}

div.field label {
  float: left;
  display: block;

  width: 50px;
  text-align: right;
  clear: left;
  margin-right: 10px;
  background-color:	#F0F0F0;
  padding: 4px;
  margin: 0.4em 0.2em;
}

div.field input {
  background-color: #FBEF99;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .9em;
}

p.box {
  margin-bottom: 1em;
  padding: 1em;
  text-indent: 0;
}

p.box label {
  float: left;
  display: block;
  width: 70px;
  text-align: right;
  clear: left;
  margin-right: 10px;
}

p.box span {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
}

div.bulk label {
  float: left;
  display: block;
  width: 70px;
  text-align: left;
  clear: left;
  margin-right: 10px;
}

a:link    { color: #F60; }
a:visited { color: #900; }
a:hover   { color: #F33; }
a:active  { color: #B2F511; }
