%h1 Page Preview
%p Enter the relative path of a page to see a preview (eg products):
%br
%input{:type => 'text', :id => 'input-url'}
%iframe{:id => 'preview-url', :style => 'width: 600px; height: 400px; display: none'}
