%h2 Product details

%p.box
  %label Name:
  %span
    = @product.name
%p.box
  %label Tags:
  %span
    = @product.tags.join(', ')

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
